* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #99ccff;
}

.app {
  min-height: 100vh;
}

/* Top header */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003399;
  color: white;
  padding: 20px 20px;
}

.logo-box,
.right-symbol {
  width: min(90px,100%);
  color: #003399;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.logo-box img,
.right-symbol img {
    width: min(90px,100%);
    object-fit: cover;
  border-radius: 10px;
}
.title-box {
  text-align: center;
}

.title-box h1 {
  letter-spacing: 3px;
  font-size: 26px;
}

.title-box h2 {
  font-size: 14px;
  color: #fc4848;
}

.subtitle {
  font-size: 14px;
  color: #ffff66;
  margin-bottom: 4px;
}

/* Yellow quote bar */
.quote-bar {
  background-color: #001c53;
  text-align: center;
  padding: 8px;
  font-size: 13px;
  color: #ffff00;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}
.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee__track {
  display: flex;
  width: max-content;
  position: relative;
  animation: scroll 20s linear infinite;
}

.marquee__item {
  min-width: 200px;
  margin: 0 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  white-space: nowrap;
}
.marquee__track_duplicate{
  display: flex;
  width: max-content;

}
/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Navigation */
.navigation{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.nav-bar {
  display: flex;
  justify-content: center;
}
nav.nav-bar.mobile{
  flex-direction: column;
  z-index: 10000;
  max-height: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
}
nav.nav-bar.mobile.open{
  max-height: 400px;
}
.nav-bar button,
.hamburger-menu{
  background-color: #3366ff;
  border: 1px solid #003399;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: #003399;
}
.hamburger-menu{
  position: relative;
}
.hamburger-menu span{
  display: block;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px auto;
  border-radius: 10px;
  transition: .4s ease;
  transform-origin: center;
}
.hamburger-menu.open span:first-child{
  transform: translate(0%,200%) rotateZ(-135deg);
}
.hamburger-menu.open span:nth-child(2){
  transform: scale(0);
}
.hamburger-menu.open span:last-child{
  transform: translate(0%,-200%) rotateZ(-225deg);
}
/* Main layout */
.main-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.main-layout > div{
  flex: 1 1 200px;
}
.main-layout section{
  flex: 1 1 700px;
}

/* Side boxes */
.side-box {
  background-color: #6699ff;
  max-height: 1000px;
  overflow-y: hidden;
  transition: .8s ease-in-out;
}
.side-box.open{
  max-width: 800px;
}

.side-box.closed{
  max-height: 0;
  overflow-y: hidden;
}

.side-header {
  background-color: #cce0ff;
  border: 1px solid #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.side-box ul {
  list-style-type: disc;
  padding: 10px;
  padding-left: 30px;
}

/* Photo box */
.photo-box {
  overflow: hidden;
  /* height: 40vh;
  background-color: #0044aa;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center; */
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.photo-label {
  border: 2px solid white;
  padding: 10px 30px;
}

.side-box li a {
    text-decoration: none;
    color: #000;
}

/* People  */
.people_table{
  width: 100%;
  border-collapse: collapse;
}
.container{
    width: min(1200px, 90%);
    margin: 0 auto;
    padding: 3rem 0;
}
.container h1{
  text-align: center;
  margin-bottom: 2rem;
}
.people_rows{
    padding: 1rem;
    border: 1px solid #000;
    text-align: center;
}
.people_rows.link{
  padding: 0;
}
.people_rows a img{
    width: 30px;
}



.events .containerHead{
  margin: 40px auto;
  display: flex;
  justify-content: flex-end;
}
.events  input.date-picker{
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 0.7rem;
    background-color: transparent;
    font-size: 1rem;
}
.events .events_contents{
}
.events .event_box{
  padding: 1rem;
}